@model IEnumerable<DiplomaDataModel.Choice>

@section scripts {
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});</script>
}

@{
    ViewBag.Title = "Submitted Applications";
}

<h2>Submitted Applications</h2>

@using (Ajax.BeginForm("Filter", "Choices", new AjaxOptions { HttpMethod = "GET", UpdateTargetId = "reports" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-10">
                <h4>Filter Term:</h4> @Html.DropDownList("termFilter", (IEnumerable<SelectListItem>)ViewBag.ValidTerms, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <h4>Filter Output:</h4> @Html.DropDownList("outFilter", (IEnumerable<SelectListItem>)ViewBag.ValidOutput, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Filter" class="btn btn-default" />
            </div>
        </div>
        <hr />
    </div>

}

<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div id="reports">
    @Html.Partial("Report", Model)
</div>


