@model OptionsWebsite.Models.ApplicationUser
@{
    ViewBag.Title = "Edit";
}

<h2>Manage User Roles</h2>

@if (ViewBag.Message != null)
{
    <div>
        <p>@ViewBag.Message </p>
    </div>
}

@using (Html.BeginForm("AddRole", "Users"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h4>Add Role</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <h4>Username:</h4> @Html.DropDownList("userName", (IEnumerable<SelectListItem>)ViewBag.UserChoice, htmlAttributes: new { @class = "form-control" })
                <h4>Role:</h4> @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.RoleChoice, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}


@using (Html.BeginForm("GetRoles", "Users"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Get Roles</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <h4>Username:</h4> @Html.DropDownList("userName", (IEnumerable<SelectListItem>)ViewBag.UserChoice, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Get" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@if (ViewBag.UserRoles != null)
{
    <div>
        <h5>@ViewBag.GetMsg</h5>
        <ol>
            @foreach (string s in ViewBag.UserRoles)
            {
                <li>@s</li>
            }
        </ol>
        <hr />
    </div>
}

@using (Html.BeginForm("DeleteRole", "Users"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Delete Role</h4>
        <hr />

        <div class="form-group">
            <div class="col-md-10">
                <h4>Username:</h4> @Html.DropDownList("userName", (IEnumerable<SelectListItem>)ViewBag.UserChoice, htmlAttributes: new { @class = "form-control" })
                <h4>Role:</h4> @Html.DropDownList("roleName", (IEnumerable<SelectListItem>)ViewBag.RoleChoice, htmlAttributes: new { @class = "form-control" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Delete" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}