@model IEnumerable<OptionsWebsite.Models.ApplicationUser>

@{
    ViewBag.Title = "User Identities";
}

<h2>User Identities</h2>

<p>
    @Html.ActionLink("Manage Roles", "Edit")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LockoutEnabled)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LockoutEnabled)
            </td>
            <td>  
                @Html.ActionLink("Lockout User", "Lockout", new { id = item.Id })
            </td>
        </tr>
    }

</table>
